<h1>Searching for - <%= @search_term %></h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>f2f_url</th>
    <th>source_url</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td><%= recipe["title"] %></td>
      <td><%= link_to recipe["f2f_url"] %></td>
      <td><%= link_to recipe["source_url"] %></td>
    </tr>
  <% end %>
</table>
